@charset "utf-8";

section{
    position: relative;
}
/*Laliga room start*/
.bg-room{
    background: url('../../assets/img/laliga-room/bg.png') no-repeat;
    background-color: #0d111c;
    max-width: 100%;
    background-size: cover;
    padding-bottom: 31.88%;
    background-position: center;
}
.laliga-h1{
    font-size: 32px;
    margin-bottom: 30px;
    margin-top: 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
}
.laliga-room > .container{
    max-width: 1400px;
}
.laliga-room > .container.position-absolute{
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    vertical-align: middle;
}
.laliga-room .area-txt{
    height: 100%;
    position: absolute;
    right: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
    max-width: 47%;  
}
/*Laliga room end*/

/*Laliga pattern start*/
.laliga-pattern{
    vertical-align: middle;
    height: 100%;
    overflow: hidden;
    padding-bottom: 20%;
}
.laliga-pattern:before{
    content: '';
    background-color: red;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.laliga-pattern div[class*="col"] {
    padding-left: 10px;
    padding-right: 10px;
}
.laliga-pattern .figure-game{
    box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    max-height: 132px;
}
.card.figure-game > .card-body {
    padding: 16px;
}
/*Laliga pattern end*/
@media (max-width: 1366px) {
    .bg-room{
        background-position: -220px 0px;
        padding-bottom: 40%;
    }
    .laliga-room .area-txt{
        max-width: 51%;
    }
}

@media (max-width: 767px) {
    .bg-room{
        background-image: url('../../assets/img/laliga-room/bg-mobile.png');
        padding-bottom: 50%;
        background-position: 0px 0px;
    }
    .laliga-room > .container.position-absolute{
        overflow: hidden;
    }
    .laliga-room .area-txt{
        max-width: 50%;
    }
    .laliga-room h1{
        font-size: 14px;
        margin-top:5px;
        margin-bottom: 10px;
    }
}